{# src/OC/PlatformBundle/Resources/views/Goodbye/index.html.twig #}

<!DOCTYPE html>
<head>
    <title>Bienvenue sur ma première page avec Perso !</title>
</head>
<body>
<h1>Goodbye {{ nom }} !</h1>
<p>
    Mon premier code Symfony to say Goodbye World !!!
</p>
</body>
</html>